# Dependências
node_modules/
package-lock.json
yarn.lock

# Ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build
dist/
build/
coverage/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp
.cache/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos gerados
.cache/ 